.App {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --code: lightgreen;
    --background: #111111;
    --foreground: #ffffff;
  }

  code {
    color: lightgreen;
  }

  a {
    color: lightblue;
  }

  a:hover {
    color: lightskyblue;
  }

  .alert-dark {
    background-color: var(--background);
    border-color: gray;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --code: var(--pink);
    --background: #e1e1e1;
    --foreground: #111111;
  }
}

html {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}