.App {
  text-align: center;
}

.neumorph-card {
  border-radius: 50px;
  padding: 1em;
  background: #f8f9fa;
  border-color: #f8f9fa;
  box-shadow: 15px 15px 30px #ecedee,
             -15px -15px 30px #ffffff;
  margin: 0em 1em 1em 1em;
}

.neumorph-nav {
  background: #f8f9fa;
  border-color: #f8f9fa;
  border-radius: 50px;
  box-shadow: 15px 15px 30px #ecedee,
             -15px -15px 30px #ffffff;
  margin: 0em 1em 1em 1em;
  overflow: show;
}

.neumorph-banner {
  background: #f8f9fa;
  border-color: #f8f9fa;
  border-width: 10px;
  border-radius: 50px;
  box-shadow: 15px 15px 30px #ecedee,
             -15px -15px 30px #ffffff;
  margin: 0em 1em 2em 1em;
  padding: 3px;
}

.neumorph-dark-text {
  border-radius: 50px;
  margin: 3px;
  background: #343a40;
  border-color: #f8f9fa;
  color: #f8f9fa;
  padding: 3px;
}