.App {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: black;
  }

  body {
    background-color: black;
    color: white;
  }

  code {
    color: lightgreen;

  }

  a {
    color: lightblue;
  }

  a:hover {
    color: lightskyblue;
  }

  .alert-dark {
    background-color: black;
    border-color: gray;
    color: white;
  }
}